/* Main styles */
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

/* Variables */

:root {
  --color-win: 103, 142, 59;
  --color-lose: 240, 80, 58;
  --color-start: 99, 82, 158;
  --color-neutral-light: 255, 252, 255;
  --font-header: 'Fjalla One', sans-serif;
  --font-size-large: 60px;
  --font-size-medium: 20px;
  --transition: all 0.2s ease-in-out;
}

/* main */

* {
  box-sizing: border-box;
  font-family: var(--font-header);
}

body {
  justify-content: space-evenly;
  flex-direction: column;
  display: flex;
  height: 100vh;
  margin: 0;
}

li,
ol,
ul {
  padding: 0;
  display: inline-block;
}

h2 {
  margin: 0;
  text-transform: uppercase;
  font-size: var(--font-size-large);
  margin: 0;
}

h1 {
  font-size: 30px;
}

button {
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(var(--color-neutral-light), 1);
  border-radius: 5px;
  color: rgba(var(--color-neutral-light), 1);
  cursor: pointer;
  font-size: var(--font-size-medium);
  padding: 0.5rem 1rem;
  margin: 6px;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

#btn__reset {
  width: 200px;
  margin: 0 auto;
}

.main-container {
  background: url(../images/mountainBase.svg) no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  text-align: center;
}

.section {
  width: 100%;
  padding: 10px;
}

#phrase ul li {
  margin-top: 15px;
}

/* Title */

.header {
  color: #3a3f58;
  font-size: 1.75rem;
}

/* Phrase */

.letter {
  color: transparent;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(var(--color-neutral-light), 1);
  border-radius: 5px;
  font-size: var(--font-size-medium);
  height: 65px;
  margin-right: 2px;
  padding: 20px 1px 0 1px;
  width: 65px;
}

.space {
  width: 15px;
}

.show {
  color: #fff;
  background-color: #63529e;
  font-size: 20px;
  height: 65px;
  width: 65px;
  padding: 20px 1px 0 1px;
  margin-right: 2px;
  border-radius: 5px;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

/* Keyboard */

.keyrow {
  display: flex;
  justify-content: center;
}

.chosen {
  background: rgba(var(--color-start), 1);
  border-radius: 5px;
  font-size: var(--font-size-medium);
  color: rgba(var(--color-neutral-light), 1);
}

.wrong {
  background: #fe801c;
  color: rgba(var(--color-neutral-light), 1);
}

.btn__reset {
  padding: 16px;
  margin: 50px auto;
  background: #fe801c;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  border-bottom: solid 4px rgba(0, 0, 0, 0.3);
  border-right: solid 3px rgba(0, 0, 0, 0.3);
}

.btn__reset:active {
  padding: 14px 16px 16px 14px;
  border-bottom: solid 4px rgba(0, 0, 0, 0);
  border-right: solid 3px rgba(0, 0, 0, 0);
}

/* Overlay */

#overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  color: rgba(var(--color-neutral-light), 1);
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
}

.title {
  color: rgba(var(--color-neutral-light), 1);
  font-size: 1.75rem;
}

.start {
  background-color: rgba(var(--color-start), 0.75);
}

.start a {
  color: rgba(var(--color-neutral-light), 1);
}

.win {
  background-color: rgba(var(--color-win), 0.75);
}

.win a {
  color: rgba(var(--color-win), 1);
}

.lose {
  background-color: rgba(var(--color-lose), 0.75);
}

.lose a {
  color: rgba(var(--color-lose), 1);
}

/* Scoreboard */
.tries img {
  height: 55px;
  width: 55px;
}

@media screen and (max-width: 764px) {
  .keyrow {
    flex-flow: row wrap;
  }

  .key {
    flex: 1;
  }

  .tries img {
    height: 35px;
    width: 35px;
  }
}
